[package]
name = "evalexpr"
version = "5.0.5-alpha.2"
description = "A powerful arithmetic and boolean expression evaluator"
keywords = ["expression", "evaluate", "evaluator", "arithmetic", "boolean"]
categories = ["parsing", "game-engines"]
authors = ["isibboi <isibboi@gmail.com>"]
repository = "https://github.com/ISibboI/evalexpr.git"
homepage = "https://github.com/ISibboI/evalexpr"
documentation = "https://docs.rs/evalexpr"
readme = "README.md"
license = "MIT"
edition = "2018"

[badges]
is-it-maintained-issue-resolution = { repository = "ISibboI/evalexpr" }
is-it-maintained-open-issues = { repository = "ISibboI/evalexpr" }
maintenance = { status = "actively-maintained" }

[lib]
name = "evalexpr"
path = "src/lib.rs"

[dependencies]
regex = { version = "1", optional = true}
serde = { version = "1", optional = true}
serde_derive = { version = "1", optional = true}

[features]
serde_support = ["serde", "serde_derive"]
regex_support = ["regex"]

[dev-dependencies]
ron = "0.4"
rand = "0.7.0"
rand_pcg = "0.2.0"